/*Default-CSS*/

input[type="file"],
input[type="file"]::-o-file-upload-button,
input[type="file"]::-ms-file-upload-button,
input[type="file"]::-moz-file-upload-button,
input[type="file"]::-webkit-file-upload-button {
  cursor: pointer;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

div input[type="text"]:focus,
div input[type="email"]:focus,
div input[type="url"]:focus,
div input[type="password"]:focus,
div input[type="search"]:focus,
div input[type="number"]:focus,
div input[type="tel"]:focus,
div input[type="range"]:focus,
div input[type="date"]:focus,
div input[type="month"]:focus,
div input[type="week"]:focus,
div input[type="time"]:focus,
div input[type="datetime"]:focus,
div input[type="datetime-local"]:focus,
div input[type="color"]:focus,
div textarea:focus {
  color: var(--global-palette1);
}

html body {
  margin: 0;
  background: var(--global-palette5);
  color: var(--global-palette7);
  font-size: 0.9114583333333334vw;
  font-weight: 500;
  font-family: var(--manrope-font);
  line-height: 1.5;
}

* {
  padding: 0;
  outline: none;
  font-family: var(--manrope-font);
  margin: 0;
  box-sizing: border-box;
}

*::-moz-selection {
  color: var(--global-palette1);
  background: var(--global-palette3);
}

*::-webkit-selection {
  color: var(--global-palette1);
  background: var(--global-palette3);
}

*::-webkit-input-placeholder {
  color: var(--global-palette3);
  opacity: 1;
  font-weight: 500;
}

*:-moz-placeholder {
  color: var(--global-palette3);
  opacity: 1;
  font-weight: 500;
}

*::-moz-placeholder {
  color: var(--global-palette3);
  opacity: 1;
  font-weight: 500;
}

*:-ms-input-placeholder {
  color: var(--global-palette3);
  opacity: 1;
  font-weight: 500;
}

a,
div a:hover,
div a:active,
div a:focus,
button {
  text-decoration: none;
  transition: .5s cubic-bezier(.44, 0, .56, 1) 0s;
}

.line_none {
  line-height: 0;
}

a,
span,
div a:hover,
div a:active,
button {
  transition: .5s cubic-bezier(.44, 0, .56, 1) 0s;
  text-decoration: none;
}

*::after,
*::before,
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

ul,
ul li,
ol,
li {
  list-style: outside none none;
  color: var(--global-palette1);
  margin-left: 0;
  margin-bottom: 0;
}

body .single-content ul,
body .single-content ol,
body ul,
body ol {
  margin-left: 0;
  padding-left: 0;
}


body a {
  outline: none;
  color: var(--global-palette1);
  font-size: var(--f16);
  text-decoration: none !important;
  line-height: 1.5;
  display: inline-block;
}

body a:hover {
  color: var(--global-palette1);
}

body .clearfix,
body .clear {
  clear: both;
  line-height: 100%;
}

body .clearfix {
  height: auto;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: var(--manrope-font);
  -webkit-tap-highlight-color: transparent;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  line-height: 1.5;
  color: var(--global-palette6);
  font-weight: 600;
  margin: 0 0 0.6510416666666667vw;
}

body h1:last-child,
body h2:last-child,
body h3:last-child,
body h4:last-child,
body h5:last-child,
body h6:last-child {
  margin-bottom: 0;
}

div select {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

div select option {
  color: var(--global-palette1);
  padding: 0.13vw 0.326vw;
}

img {
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

body p {
  margin: 0 0 0.6510416666666667vw;
}

body p {
  padding: 0;
  color: var(--global-palette7);
  font-size: 0.9114583333333334vw;
  font-weight: 500;
  font-family: var(--manrope-font);
  line-height: 1.5;
}

body p:empty {
  display: none;
  margin: 0;
}

body .single-content p:last-child {
  margin-bottom: 0;
}

p strong {
  font-weight: bold;
}

label em {
  color: var(--red);
  display: inline-block;
  font-style: normal;
  vertical-align: top;
  margin-left: 0.326vw;
}

.hidden {
  display: none !important;
}

iframe {
  display: block;
  width: 100%;
}

.container {
  width: 100%;
  max-width: 100%;
  padding: 0 1.953vw;
  margin: 0 auto;
  position: relative;
}

body .container .container {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

/*scroll Hide*/
html.no-scroll {
  overflow: hidden;
}

html.no-scroll body {
  overflow: hidden;
  height: 100%;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
}

body {
  font-family: var(--manrope-font);
  padding-top: 6.51vw;
}

/*button*/
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  appearance: button;
  cursor: pointer;
}

button {
  border: none;
}

.page-content {
  padding: 3.2552083333333335vw 1.953vw 2.279vw;
  width: 100%;
  margin: 0 auto;
}

/* Button styles end */

svg {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  color: var(--global-palette3);
  transition: .5s cubic-bezier(.44, 0, .56, 1) 0s;
}

svg * {
  transition: .5s cubic-bezier(.44, 0, .56, 1) 0s;
}

/* START COMMON CSS */

body h1 {
  font-size: var(--f45);
  line-height: 1.5;
  color: var(--global-palette3);
}

body h2 {
  font-size: var(--f35);
  line-height: 131.45%;
}

body h3 {
  font-size: var(--f28);
  line-height: 132.12%;
}

.p_0 {
  padding: 0 !important;
}

.no_gap {
  gap: 0 !important;
}

body hr {
  border-bottom: 0.065vw solid var(--global-palette3);
}

body h4 {
  font-size: var(--f24);
}

body h5 {
  font-size: var(--f20);
}

body h6 {
  font-size: var(--f18);
}

/* START WEB FONT */

.comm_box_design {
  padding: 1.0416666666666665vw;
  border-radius: 1.953125vw;
  position: relative;
  width: 100%;
  height: auto;
  gap: 1.0416666666666665vw;
  max-width: calc(33.33% - 0.7161458333333333vw);
  overflow: hidden;
  box-shadow: 0 0 0 0.26041666666666663vw var(--global-palette9), 0 0 0.32552083333333337vw 0.6510416666666667vw #0d0d0db3;
  background: var(--global-palette9);
}

.d_flex {
  display: flex;
}

.d_inline_flex {
  display: inline-flex;
}

.mb_0 p,
.mb_0 {
  margin-bottom: 0;
}

.pulse_circle {
  width: 0.5208333333333333vw;
  height: 0.5208333333333333vw;
  border-radius: 100%;
  position: relative;
  background: rgb(109, 211, 61);
  display: inline-block;
  animation: animate-pulse 3s linear infinite;
}

@keyframes animate-pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(109, 211, 61, 0.7), 0 0 0 0 rgba(109, 211, 61, 0.7);
  }

  40% {
    box-shadow: 0 0 0 0.5208333333333333vw rgba(109, 211, 61, 0.0), 0 0 0 0 rgba(109, 211, 61, 0.7);
  }

  80% {
    box-shadow: 0 0 0 0.5208333333333333vw rgba(109, 211, 61, 0.0), 0 0 0 0.32552083333333337vw rgba(109, 211, 61, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(109, 211, 61, 0.0), 0 0 0 0.32552083333333337vw rgba(109, 211, 61, 0);
  }

}

.text_center {
  text-align: center;
}

.flex_wrap {
  flex-wrap: wrap;
}

.ml_auto {
  margin-left: auto;
}

.w_100 {
  width: 100%;
}

.align_center {
  align-items: center;
}

.align_start {
  align-items: flex-start;
}

.align_end {
  align-items: flex-end;
}

.justify_between {
  justify-content: space-between;
}

.justify_center {
  justify-content: center;
}

.flex_column {
  flex-direction: column;
}

.comm_box_grid {
  gap: 1.0416666666666665vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.no_gap {
  gap: 0 !important;
}

.comm_border_after {
  position: relative;
}

.comm_border_after::after {
  content: "";
  border-width: 0.06510416666666666vw;
  border-color: var(--global-palette8);
  border-style: solid;
  width: 100%;
  height: 100%;
  position: absolute;
  box-sizing: border-box;
  left: 0;
  top: 0;
  border-radius: inherit;
  pointer-events: none;
}

.arrow_icon svg,
.btn_icon svg {
  width: 1.5625vw;
  height: 1.5625vw;
  min-width: 1.5625vw;
  min-height: 1.5625vw;
}

.arrow_icon:hover svg {
  transform: rotate(45deg);
}

.arrow_icon:hover svg * {
	stroke: var(--global-palette2);
}
.gap_10 {
  gap: 0.6510416666666667vw;
}

.comm_work {
  background-color: var(--global-palette10);
  border-radius: 6.510416666666667vw;
  box-shadow: inset 0.13020833333333331vw 0.26041666666666663vw 0.13020833333333331vw #3339, inset 0 -0.13020833333333331vw 0.06510416666666666vw #1e1e1e;
  gap: 0.6vw;
  padding: 0.390625vw 1.3020833333333335vw;
}

/* END WEB FONT */
:root {
  --f45: 1.7578125vw;
  --f35: 1.6927083333333333vw;
  --f28: 1.5625vw;
  --f24: 1.4322916666666665vw;
  --f20: 1.3020833333333335vw;
  --f18: 1.171875vw;
  --f16: 1.0416666666666665vw;
  --f14: 0.911vw;

  --space_60: 3.90625vw;
  --global-palette1: rgb(208, 50, 22);
  --global-palette2: rgb(232, 75, 47);
  --global-palette3: rgb(230, 230, 230);
  --global-palette4: rgb(25, 25, 25);
  --global-palette5: rgb(15, 15, 15);
  --global-palette6: rgb(255, 255, 255);
  --global-palette7: rgb(204, 204, 204);
  --global-palette8: rgb(30, 30, 30);
  --global-palette9: rgb(20, 20, 20);
  --global-palette10: rgb(38, 38, 38);
  --global-palette11: rgb(242, 242, 242);
  --global-palette12: rgb(153, 153, 153);
  --global-palette13: rgb(45, 45, 45);
  --global-palette14: rgb(56, 56, 56);
  --global-palette15: rgb(36, 36, 36);
  --global-palette16: rgb(10, 10, 10);







  --manrope-font: "Manrope";
}

@media screen and (max-width: 1200px) {
  :root {
    --f45: 30px;
    --f35: 28px;
    --f28: 24px;
    --f24: 22px;
    --f20: 18px;
    --f18: 16px;
    --f16: 15px;
    --space_60: 60px;
  }

  body h1,
  body h2,
  body h3,
  body h4,
  body h5,
  body h6 {
    margin: 0 0 0.9765625vw;
  }

  body p {
    margin-bottom: 0.9765625vw;
  }

  div select option {
    padding: 2px 5px;
  }

  .container {
    padding: 0 30px;
  }

  label em {
    padding-left: 5px;
  }

  body hr {
    border-bottom: 1px solid var(--global-palette3);
  }

}

@media screen and (max-width: 1024px) {

  :root {
    --f45: 30px;
    --f35: 24px;
    --f28: 20px;
    --f24: 19px;
    --f20: 16px;
    --f18: 15px;
    --f16: 14px;
    --space_60: 50px;
  }


}

@media screen and (max-width: 767px) {
  :root {
    --f45: 26px;
    --f35: 22px;
    --f28: 20px;
    --f24: 18px;
    --f20: 16px;
    --f18: 15px;
    --space_60: 40px;
  }

  .container {
    padding: 0 20px;
  }
}

/* END COMMON CSS */