.d_main_menu li a,
.d_mail_box {
    border-radius: 0.781vw;
    display: inline-flex;
    gap: 0.391vw;
    height: min-content;
    padding: 0.911vw 1.563vw;
    align-items: center;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    background: var(--global-palette8);
    box-shadow: inset 0.065vw 0.13vw 0.195vw 0px rgba(31, 31, 31, 1), inset -0.065vw -0.13vw 0.195vw 0px rgba(20, 20, 20, 1), 0px 0px 0px 0.13vw rgb(15, 15, 15);

}

.d_mail_box span,
.d_main_menu li a span {
    line-height: 150%;
    font-size: var(--f16);
    font-weight: 500;
    color: var(--global-palette7);
}

.site_header {
    position: fixed;
    top: 0;
    left: 0;
    background: var(--global-palette5);
    width: 100%;
    z-index: 9999;
}

.d_mail_box img,
.d_main_menu li img {
    width: 1.302vw;
    height: 1.302vw;
    aspect-ratio: 1 / 1;
}

.menu_icon {
    line-height: 0 !important;
}

.d_main_menu li.active a,
.d_main_menu li a:hover {
    background: var(--global-palette1);
    box-shadow: inset 0px 0.13vw 0.13vw 0px rgb(233, 75, 47), inset 0px -0.065vw 0.13vw 0.065vw rgb(185, 44, 19), 0px 0px 0px 0.13vw rgb(15, 15, 15);
}

.d_main_menu li.active a span,
.d_main_menu li:hover a span {
    color: var(--global-palette6);
}

.d_main_menu {
    border: 0.065vw solid rgb(10, 10, 10);
    background-color: rgb(20, 20, 20);
    border-radius: 1.172vw;
    display: inline-flex;
    gap: 0.651vw;
    padding: 0.651vw;
}

.d_site_header_inner {
    min-height: 6.51vw;
    display: flex;
    gap: 1.953vw;
    padding-top: 2.279vw;
    justify-content: space-between;
    align-items: center;
}

.d_logo,
.d_logo a {
    line-height: 0;
    width: 100%;
    max-width: 11.719vw;
}

.d_logo a img {
    width: 100%;
}

.d_mail_box {
    background: var(--global-palette4);
    box-shadow: 0px 0px 0px 0.13vw rgb(10, 10, 10), 0px 0.13vw 0.326vw 0.065vw rgba(10, 10, 10, 0.5), inset 0.195vw 0.195vw 4px 0px rgb(30, 30, 30), inset -0.13vw -0.13vw 0.195vw 0px rgb(20, 20, 20);
}

.d_mail_box:hover {
    background: var(--global-palette8);
    box-shadow: 0px 0px 0px 0.13vw rgb(10, 10, 10), 0px 0.13vw 0.326vw 0.065vw rgba(10, 10, 10, 0.5), inset 0.065vw 0.195vw 0.195vw 0px rgb(33, 33, 33), inset -0.13vw -0.195vw 0.195vw 0px rgb(20, 20, 20);
}

.d_hamburger_menu {
    display: none;
}

@media screen and (max-width: 767px) {
    .d_hamburger_menu {
        display: block;
        border-radius: 8px;
        padding: 12px;
        box-shadow: rgb(31, 31, 31) 0px -2px 2px 0px inset, rgba(31, 31, 31, 0.65) 0px 2px 2px 0px inset;
        width: 48px;
        cursor: pointer;
        line-height: 0;
        margin-left: auto;
    }

    .site_header .d_mail_box span {
        opacity: 0;
        position: absolute;
        top: 100%;
        right: 0;
        width: auto;
        white-space: nowrap;
        visibility: hidden;
        transition: all 0.4s linear;
    }



    .d_logo,
    .d_logo a {
        max-width: 140px;
        align-content: center;
    }

    .site_header .d_mail_box:hover span {
        opacity: 1;
        visibility: visible;
    }

    .d_site_header_inner {
        min-height: 49px;
        align-items: stretch;
        gap: 15px;
        padding-top: 20px;
    }

    .d_main_menu {
        position: fixed;
        top: 82px;
        left: 50%;
        width: 100%;
        height: 100%;
        flex-direction: column;
        gap: 10px;
        border-radius: 18px;
        border-width: 1px;
        padding: 16px;
        max-width: calc(100% - 40px);
        transform: translateX(-50%);
        opacity: 0;
        transition: all 0.4s linear;
        visibility: hidden;
    }

    .d_hamburger_menu.active+.d_main_menu {
        opacity: 1;
        visibility: visible;
    }

    .d_mail_box {
        box-shadow: 0px 0px 0px 2px rgb(10, 10, 10), 0px 2px 5px 1px rgba(10, 10, 10, 0.5), inset 3px 3px 4px 0px rgb(30, 30, 30), inset -2px -2px 3px 0px rgb(20, 20, 20);
    }

    .d_mail_box img,
    .d_main_menu li img {
        width: 20px;
        height: 20px;
    }

    .d_main_menu li a,
    .d_mail_box {
        border-radius: 12px;
        gap: 6px;
        padding: 14px 24px;
    }

    .d_main_menu li.active a,
    .d_main_menu li a:hover {
        box-shadow: inset 0px 2px 2px 0px rgb(233, 75, 47), inset 0px -1px 2px 1px rgb(185, 44, 19), 0px 0px 0px 2px rgb(15, 15, 15);
    }

    .d_mail_box {
        padding: 14px;
    }
}