.stack_titlebar,
.stack_top_head,
.btn_link {
    gap: 0.26041666666666663vw;
}

.btn_txt {
    color: var(--global-palette7);
}

a:hover .btn_txt {
    color: var(--global-palette11);
}

.social_label,
.comm_work_txt {
    line-height: 1.5;
    font-weight: 500;
    font-size: 0.9114583333333334vw;
}

.stack_label,
.social_label {
    color: var(--global-palette12);
}

.about_data {
    align-content: flex-start;
    background-color: var(--global-palette4);
    border-radius: 1.3020833333333335vw;
    box-shadow: 0 0 0 0.13020833333333331vw var(--global-palette5), inset 0.06510416666666666vw 0.13020833333333331vw 0.13020833333333331vw #3339, inset 0 -0.13020833333333331vw 0.06510416666666666vw #1e1e1e, 0.06510416666666666vw 0.06510416666666666vw 0.390625vw 0.13020833333333331vw #0f0f0f80;
    flex-wrap: nowrap;
    gap: 0.6510416666666667vw;
    overflow: hidden;
    padding: 1.0416666666666665vw;
    width: 100%;
}

.education_year_txt {
    color: var(--global-palette7);
}

.about_description p strong {
    color: var(--global-palette2);
}

.profile_img {
    border-radius: 1.3020833333333335vw;
    box-shadow: 0 0 0 0.06510416666666666vw var(--global-palette8), 0 0 0 0.26041666666666663vw #242424;
    max-width: 10.416666666666668vw;
    overflow: hidden;
    position: relative;
}

.profile_box {
    gap: 1.3020833333333335vw;
    margin-bottom: 1.3020833333333335vw;
}

.awards_list_row {
    padding-top: 1.0416666666666665vw;
    text-align: center;
}

.profile_content {
    width: 100%;
    gap: 0.5208333333333333vw;
    max-width: calc(100% - 1.3020833333333335vw - 10.416666666666668vw);
}

.profile_content h1 {
    margin-bottom: 0;
}

.comm_btn {
    align-items: center;
    background-color: var(--global-palette8);
    border-radius: 3.2552083333333335vw;
    box-shadow: 0 0 0 0.13020833333333331vw var(--global-palette5), inset 0.06510416666666666vw 0.06510416666666666vw 0.1953125vw #2b2b2b;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    overflow: hidden;
    position: relative;
    padding: 0.6510416666666667vw;
}

.social_folowers {
    gap: 0.32552083333333337vw;
}

.stack_title,
.followers_count {
    color: var(--global-palette6);
    font-weight: 600;
}

.arrow_icon {
    padding: 0.5208333333333333vw;
}

.arrow_icon:hover {
    background: var(--global-palette13);
}


.stat_item {
    padding: 1.5625vw 1.0416666666666665vw;
    gap: 0.6510416666666667vw;
    background-color: var(--global-palette4);
    border-radius: 1.0416666666666665vw;
    box-shadow: 0 0 0 0.13020833333333331vw var(--global-palette5), inset 0.06510416666666666vw 0.13020833333333331vw 0.13020833333333331vw #3339, inset 0 -0.13020833333333331vw 0.06510416666666666vw #1e1e1e, 0.06510416666666666vw 0.06510416666666666vw 0.390625vw 0.13020833333333331vw #0f0f0f80;
}

.comm_inner {
    gap: 1.0416666666666665vw;
    flex: 1 0 0;
}

.languages_list,
.stack_content,
.social_content {
    gap: 0.6510416666666667vw;
}

.counter_number {
    font-family: var(--manrope-font);
    font-size: 3.2552083333333335vw;
    font-weight: 600;
    line-height: 140%;
    color: var(--global-palette6);
}

.counter_icon {
    font-family: var(--manrope-font);
    font-size: 2.604166666666667vw;
    font-weight: 600;
    line-height: 100%;
    color: var(--global-palette2);
}

.counter_item_top {
    padding: 1.0416666666666665vw 1.953125vw;
    box-shadow: inset 0 -0.13020833333333331vw 0.06510416666666666vw #0f0f0f;
    width: 100%;
}

.stack_top_para,
.counter_title {
    color: var(--global-palette2);
    font-size: 0.9114583333333334vw;
    line-height: 1.5;
    font-weight: 500;
}

.stack_titlebar {
    padding: 1.3020833333333335vw;
    box-shadow: inset 0 -0.13020833333333331vw 0.06510416666666666vw #0f0f0f;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.counter_item_btm {
    gap: 0.26041666666666663vw;
    padding: 1.0416666666666665vw;
    box-shadow: inset 0 0.06510416666666666vw #1e1e1e;
}

.counter_item {
    background-color: var(--global-palette4);
    border-radius: 1.3020833333333335vw;
    box-shadow: 0 0 0 0.13020833333333331vw var(--global-palette5), inset 0.06510416666666666vw 0.13020833333333331vw 0.13020833333333331vw #3339, inset 0 -0.13020833333333331vw 0.06510416666666666vw #1e1e1e, 0.06510416666666666vw 0.06510416666666666vw 0.390625vw 0.13020833333333331vw #0f0f0f80;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.stack_icon_list {
    box-shadow: inset 0 0.06510416666666666vw #1e1e1e;
    overflow: hidden;
    position: relative;
    width: 100%;
    padding: 1.3020833333333335vw 1.0416666666666665vw;
}

.stack_item {
    flex: 1 0;
    padding: 1.0416666666666665vw;
}

.stack_icon {
    border-radius: 0.6510416666666667vw;
}

.comm_box_txt {
    color: var(--global-palette7);
    line-height: 1.5;
    font-weight: 500;
    font-size: 0.9114583333333334vw;
    background-color: var(--global-palette10);
    padding: 0.5208333333333333vw 0.6510416666666667vw;
    border-radius: 6.510416666666667vw;
    box-shadow: 0 0 0 0.13020833333333331vw var(--global-palette5), 0 0.13020833333333331vw 0.32552083333333337vw 0.06510416666666666vw #0f0f0f80, inset 0.06510416666666666vw 0.13020833333333331vw 0.26041666666666663vw #3339, inset 0 -0.13020833333333331vw 0.06510416666666666vw #1e1e1e;
}

.availability_separator,
.education_year,
.education_university {
    color: var(--global-palette12);
}

.award_text,
.education_year_number {
    color: var(--global-palette7);
    font-weight: 600;
}

.comm_info {
    gap: 0.5208333333333333vw;
    padding: 1.0416666666666665vw;
    box-shadow: inset 0 0.06510416666666666vw #1e1e1e;
}

.education_top_head {
    padding: 1.0416666666666665vw;
}

.basic_section {
    width: calc(50% - 0.521vw);
}

.award_btn_wrapper,
.availability_range {
    gap: 0.5208333333333333vw;
}

.availability_range .comm_box_txt {
    padding-inline: 1.171875vw;
}

.languages_list .comm_box_txt {
    flex: 1;
}

.award_button {
    background-color: var(--global-palette8);
    border-radius: 100%;
    width: 0.9114583333333334vw;
    height: 0.9114583333333334vw;
    aspect-ratio: 1;
    font-size: 0;
    cursor: pointer;
    box-shadow: inset 0 0.06510416666666666vw 0.1953125vw 0 rgba(56, 56, 56, 1), 0 0 0 0.06510416666666666vw rgb(15, 15, 15);
}

.award_button.active {
    background-color: var(--global-palette2);
    box-shadow: inset 0 0.06510416666666666vw 0.1953125vw 0 rgba(245, 174, 163, 1), 0 0 0 0.13020833333333331vw rgb(15, 15, 15);
    pointer-events: none;
}



.work_experience_section {
    padding: 1.3020833333333335vw;
}

.topbar_title {
    font-size: 1.5rem;
    color: #f05;
    margin-left: 0.6510416666666667vw;
}

.experience_box {
    padding: 1.3020833333333335vw;
    background: #111;
    border-radius: 0.78125vw;
    color: #fff;
}

.designation {
    font-size: 1.2rem;
    font-weight: bold;
}

.terms {
    font-size: 0.9rem;
    color: #bbb;
}

.company_box a {
    color: #0bf;
    font-size: 0.85rem;
}

.awards_list_row a,
.comapny_info .stack_label a {
    color: var(--global-palette12);
}

.awards_list_row a:hover,
.comapny_info .stack_label a:hover {
    color: var(--global-palette7);
}

/* For WebKit browsers (Chrome, Safari) */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

/* For Firefox */
.hide-scrollbar {
    scrollbar-width: none;
}



.comm-space-16 {
    padding: 1.3020833333333335vw;
}

.expriance_info_item .job_profile p {
    color: var(--global-palette12);
    text-align: center;
}

.stack_label.comm_work_txt.job_profile {
    place-content: center;
    align-items: center;
    background-color: rgba(20, 20, 20, 0.01);
    box-shadow: rgb(30, 30, 30) 0 0.06510416666666666vw 0 0 inset, rgb(30, 30, 30) 0 0.06510416666666666vw 0 0 inset;
    flex: 0 0 auto;
    flex-flow: row;
    gap: 0.6510416666666667vw;
    height: min-content;
    overflow: hidden;
    padding: 1.0416666666666665vw;
}

.expriance_info_item_topbar {
    place-content: center;
    align-items: center;
    background-color: rgba(20, 20, 20, 0.01);
    box-shadow: rgb(15, 15, 15) 0 -0.13020833333333331vw 0.06510416666666666vw 0 inset;
    display: flex;
    flex: 0 0 auto;
    gap: 0.5208333333333333vw;
    height: min-content;
    overflow: hidden;
    padding: 1.3020833333333335vw;
}

.expriance_info_item {
    background-color: rgb(25, 25, 25);
    border-radius: 1.3020833333333335vw;
    box-shadow: rgba(15, 15, 15, 0.5) 0 0.13020833333333331vw 0.44921875000000006vw 0.06510416666666666vw, rgba(51, 51, 51, 0.6) 0.13020833333333331vw 0.26041666666666663vw 0.13020833333333331vw 0 inset, rgb(30, 30, 30) 0 -0.13020833333333331vw 0.06510416666666666vw 0 inset;
    flex: 1 0 0;
    height: min-content;
    overflow: hidden;
    position: relative;
    width: 0.06510416666666666vw;
}


.dot-box {
    place-content: center;
    flex: 0 0 auto;
    flex-flow: row;
    gap: 0.6510416666666667vw;
    height: min-content;
    overflow: hidden;
    position: relative;
    width: 3.90625vw;
}

.dot_container {
    place-content: flex-start;
    align-items: flex-start;
    background-color: var(--global-palette14);
    border-radius: 6.510416666666667vw;
    flex: 0 0 auto;
    flex-flow: row;
    gap: 0.6510416666666667vw;
    height: min-content;
    overflow: visible;
    padding: 0.390625vw;
    position: relative;
    width: min-content;
}

.terms strong {
    font-weight: 600;
    color: var(--global-palette7);
}

.terms em {
    font-weight: 500;
    font-style: normal;
    color: var(--global-palette12);
}

.terms p {
    display: flex;
    gap: 0.5208333333333333vw;
}

.dot {
    aspect-ratio: 1 / 1;
    background-color: var(--global-palette6);
    border-radius: 6.510416666666667vw;
    flex: 0 0 auto;
    height: auto;
    position: relative;
    width: 0.6510416666666667vw;
}

.comapny_info_item {
    width: 35%;
    flex: 0 0 auto;
    flex-flow: column;
}

.splide {
    overflow: hidden;
}

.verticle-slider::after {
    content: "";
    bottom: 0;
    background: linear-gradient(180deg, rgba(56, 56, 56, 0) 0%, rgb(56, 56, 56) 36.03603603603604%, rgba(56, 56, 56, 0) 100%);
    flex: 0 0 auto;
    left: calc(57.5% - 0.06510416666666666vw);
    position: absolute;
    top: 0;
    width: 0.13020833333333331vw;
    z-index: 0;
}

.verticle-slider .splide__track {
    z-index: 1;
}

.comm-btn {
    border-radius: 0.781vw;
    display: inline-flex;
    gap: 0.391vw;
    height: min-content;
    padding: 0.911vw 1.563vw;
    align-items: center;
    overflow: hidden;
    justify-content: center;
    position: relative;
    text-decoration: none;
    font-weight: 500;
    color: var(--global-palette6);
    font-size: var(--f16);
    line-height: 150%;
    background: var(--global-palette1);
    box-shadow: inset 0px 0.13vw 0.13vw 0px rgb(233, 75, 47), inset 0px -0.065vw 0.13vw 0.065vw rgb(185, 44, 19), 0px 0px 0px 0.13vw rgb(15, 15, 15);
}

.comm-btn:hover {
    background: var(--global-palette8);
    box-shadow: inset 0.065vw 0.13vw 0.195vw 0px rgba(31, 31, 31, 1), inset -0.065vw -0.13vw 0.195vw 0px rgba(20, 20, 20, 1), 0px 0px 0px 0.13vw rgb(15, 15, 15);
    line-height: 150%;
    color: var(--global-palette7);
}

.contact-form {
    gap: 1.0416666666666665vw;
}

.contact-form input,
.contact-form textarea {
    border: 0;
    border-radius: 0.781vw;
    line-height: 150%;
    font-size: var(--f16);
    font-weight: 500;
    color: var(--global-palette6);
    transition: .5s cubic-bezier(.44, 0, .56, 1) 0s;
    padding: 0.911vw 1.563vw;
    background: var(--global-palette4);
    box-shadow: 0px 0px 0px 0.13vw rgb(10, 10, 10), 0px 0.13vw 0.326vw 0.065vw rgba(10, 10, 10, 0.5), inset 0.195vw 0.195vw 0.26041666666666663vw 0px rgb(30, 30, 30), inset -0.13vw -0.13vw 0.195vw 0px rgb(20, 20, 20);
    resize: none;
}

.contact-form ::placeholder {
    color: var(--global-palette7);
}

.contact-form input:focus,
.contact-form textarea:focus {
    color: var(--global-palette6);
}

.contact-form textarea {
    min-height: 6.510416666666667vw;
}

.single_box_design .btn_icon {
    padding: 0.8463541666666666vw;
}

.single_box_design p {
    color: var(--global-palette12);
    margin-bottom: 0;
}

.small_shadow_box {
    background-color: var(--global-palette4);
    border-radius: 0.781vw;
    z-index: 1;
    box-shadow: 0px 0px 0px 0.13020833333333331vw rgb(15, 15, 15), 0px 0.13020833333333331vw 0.32552083333333337vw 0.06510416666666666vw rgba(15, 15, 15, 0.5), inset 0.06510416666666666vw 0.13020833333333331vw 0.32552083333333337vw 0.06510416666666666vw rgb(30, 30, 30), inset -0.06510416666666666vw -0.13020833333333331vw 0.26041666666666663vw 0.06510416666666666vw rgb(20, 20, 20);
}

.small_shadow_box_head {
    padding: 1.3020833333333335vw;
    box-shadow: rgb(15, 15, 15) 0px -0.13020833333333331vw 0.06510416666666666vw 0px inset, rgb(15, 15, 15) 0px -0.13020833333333331vw 0.06510416666666666vw 0px inset;
}

.small_shadow_box_head strong {
    font-weight: 600;
    color: var(--global-palette2);
    font-size: var(--f16);
}

.small_shadow_box_body {
    box-shadow: rgb(15, 15, 15) 0px -0.13020833333333331vw 0.06510416666666666vw 0px inset, rgb(30, 30, 30) 0px 0.06510416666666666vw 0px 0px inset;
    padding: 1.4322916666666665vw 1.3020833333333335vw;
}

.small_shadow_box_price {
    padding: 0.9114583333333334vw 1.3020833333333335vw;
    /* box-shadow: rgb(30, 30, 30) 0px 0.06510416666666666vw 0px 0px inset, rgb(15, 15, 15) 0px -0.13020833333333331vw 0.06510416666666666vw 0px inset; */
}

.small_shadow_box_price strong {
    font-size: 1.171875vw;
    color: var(--global-palette2);
}

.small_shadow_box_footer {
    box-shadow: rgb(30, 30, 30) 0px 0.06510416666666666vw 0px 0px inset;
    position: absolute;
    bottom: 1.3020833333333335vw;
    left: auto;
    right: auto;
    width: calc(100% - 2.083333333333333vw);
}

.small_shadow_box_footer .line_none {
    line-height: 0;
}

.small_shadow_box_footer span {
    font-size: var(--f14);
}

.small_shadow_box_footer .d_mail_box {
    gap: 0.390625vw;
    padding: 0.9114583333333334vw;
    background-color: var(--global-palette10);
    border-radius: 0.6510416666666667vw;
    box-shadow: rgb(10, 10, 10) 0px 0px 0px 0.06510416666666666vw, rgba(10, 10, 10, 0.5) 0px 0.13020833333333331vw 0.32552083333333337vw 0.06510416666666666vw, rgb(43, 43, 43) 0.13020833333333331vw 0.26041666666666663vw 0.1953125vw 0px inset, rgb(36, 36, 36) -0.13020833333333331vw -0.1953125vw 0.1953125vw 0px inset;
}

.small_shadow_box_footer .d_mail_box:hover {
    background-color: var(--global-palette13);
    box-shadow: rgb(10, 10, 10) 0px 0px 0px 0.06510416666666666vw, rgba(10, 10, 10, 0.5) 0px 0.13020833333333331vw 0.32552083333333337vw 0.06510416666666666vw, rgb(46, 46, 46) 0.13020833333333331vw 0.26041666666666663vw 0.1953125vw 0px inset, rgb(41, 41, 41) -0.13020833333333331vw -0.1953125vw 0.1953125vw 0px inset;
}

.services_card_grid .services_card_main {
    max-width: calc(66.66% - 0.7161458333333333vw);
}

.single_box_design .stack_titlebar {
    padding: 1.0416666666666665vw;
}

.single_box_grid.comm_box_grid {
    height: 100%;
}

.single_box_design h5 {
    font-size: var(--f18);
}

.single_box_design h6 {
    font-size: 0.9765625vw;
    margin-bottom: 0.6510416666666667vw;
}

.custom-pagination {
    gap: 0.6510416666666667vw;
    padding: 0.5208333333333333vw 0.78125vw;
    height: min-content;
    position: relative;
    width: min-content;
    border-radius: 0.78125vw;
    background: var(--global-palette10);
    box-shadow: rgb(10, 10, 10) 0px 0px 0px 0.06510416666666666vw, rgba(10, 10, 10, 0.5) 0px 0.13020833333333331vw 0.32552083333333337vw 0.06510416666666666vw, rgb(46, 46, 46) 0.06510416666666666vw 0.13020833333333331vw 0.1953125vw 0px inset, rgb(33, 33, 33) -0.13020833333333331vw -0.13020833333333331vw 0.1953125vw 0px inset;
}

.custom-arrows {
    gap: 0.6510416666666667vw;
}

.custom-dot {
    width: 0.13020833333333331vw;
    height: 1.4322916666666665vw;
    background-color: var(--global-palette16);
    border-radius: 0.6510416666666667vw;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.custom-dot.active {
    background-color: var(--global-palette2);
}

.custom_arrow {
    width: 3.90625vw;
    position: relative;
    padding: 0.6510416666666667vw;
    height: min-content;
    overflow: hidden;
    border-radius: 3.2552083333333335vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--global-palette10);
    box-shadow: rgb(10, 10, 10) 0px 0px 0px 0.06510416666666666vw, rgba(10, 10, 10, 0.5) 0px 0.13020833333333331vw 0.32552083333333337vw 0.06510416666666666vw, rgb(46, 46, 46) 0.06510416666666666vw 0.13020833333333331vw 0.1953125vw 0px inset, rgb(33, 33, 33) -0.13020833333333331vw -0.13020833333333331vw 0.1953125vw 0px inset;
}

.custom_arrow:hover {
    background: var(--global-palette13);
    box-shadow: rgb(10, 10, 10) 0px 0px 0px 0.06510416666666666vw, rgba(10, 10, 10, 0.5) 0px 0.13020833333333331vw 0.32552083333333337vw 0.06510416666666666vw, rgb(51, 51, 51) 0.13020833333333331vw 0.1953125vw 0.1953125vw 0px inset, rgb(36, 36, 36) -0.06510416666666666vw -0.13020833333333331vw 0.1953125vw 0px inset;
}

.custom_arrow svg {
    width: 1.3020833333333335vw;
    aspect-ratio: 1 / 1;
}

.vertical-faq-slider {
    padding: 1.0416666666666665vw;
}

.vertical-faq-slider .stack_item {
    box-shadow: 0px 0.13020833333333331vw 0.32552083333333337vw 0.06510416666666666vw rgba(15, 15, 15, 0.5), inset 0.13020833333333331vw 0.1953125vw 0.1953125vw 0px rgba(36, 36, 36, 0.6), inset -0.06510416666666666vw -0.13020833333333331vw 0.13020833333333331vw 0px rgb(23, 23, 23), 0px 0px 0px 0.13020833333333331vw rgb(15, 15, 15);
    border-radius: 0.9114583333333334vw;
    padding: 0;
}

.vertical-faq-slider .stack_title {
    color: var(--global-palette7);
    height: min-content;
    overflow: hidden;
    font-size: var(--f16);
    padding: 1.0416666666666665vw;
    position: relative;
    width: 100%;
    box-shadow: rgb(15, 15, 15) 0px -0.13020833333333331vw 0.06510416666666666vw 0px inset;
}

.vertical-faq-slider .comm_work_txt {
    height: min-content;
    overflow: hidden;
    padding: 1.0416666666666665vw;
    position: relative;
    width: 100%;
    box-shadow: rgb(30, 30, 30) 0px 0.06510416666666666vw 0px 0px inset;
}

.avatars {
    height: min-content;
    overflow: hidden;
    position: relative;
    padding: 0.32552083333333337vw 0.6510416666666667vw;
    background: var(--global-palette4);
    border-radius: 6.510416666666667vw;
    box-shadow: rgba(15, 15, 15, 0.5) 0px 0.13020833333333331vw 0.32552083333333337vw 0.06510416666666666vw, rgba(51, 51, 51, 0.6) 0.13020833333333331vw 0.26041666666666663vw 0.13020833333333331vw 0px inset, rgb(30, 30, 30) 0px -0.13020833333333331vw 0.06510416666666666vw 0px inset;
}

.arrows_topbar {
    gap: 1.0416666666666665vw;
}

.success_stories_section .story-footer img,
.avatars * {
    border-radius: 6.510416666666667vw;
    box-shadow: inset 0.13020833333333331vw 0.26041666666666663vw 0.13020833333333331vw 0px rgba(237, 115, 93, 1), inset 0px -0.13020833333333331vw 0.06510416666666666vw 0px rgba(235, 95, 70, 1), 0px 0px 0px 0.13020833333333331vw rgb(15, 15, 15);
    width: 1.953125vw;
    height: 1.953125vw;
    margin: 0;
    aspect-ratio: 1;
}

.story_client_name {
    color: var(--global-palette7);
    font-size: var(--f16);
    font-weight: 500;
    letter-spacing: -0.01em;
}

.read-link {
    color: var(--global-palette12);
    font-weight: 600;
    font-size: var(--f14);
}

.client-review {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: var(--global-palette12);
}

.success_stories_section .stack_icon_list_inner {
    gap: 1.0416666666666665vw;
    padding: 1.3020833333333335vw;
}

.story-footer {
    gap: 0.6510416666666667vw;
}

.benefit_text {
    color: var(--global-palette12);
}

.avatars .stack_top_para {
    color: var(--global-palette6);
    font-weight: 600;
    aspect-ratio: 1;
    width: 1.953125vw;
    height: 1.953125vw;
    border-radius: 6.510416666666667vw;
    background: var(--global-palette2);
    text-indent: -0.1953125vw;
    font-size: 0.8463541666666666vw;
}

.avatars> :not(:first-child) {
    margin-left: -0.6510416666666667vw;
}

.benefit_percentage_data {
    color: var(--global-palette6);
    font-weight: 700;
    font-size: 2.213541666666667vw;
    line-height: 1;
    display: inline-block;
}

.benefit_percentage_sign {
    color: var(--global-palette2);
}

.benefit_percentage {
    padding: 1.0416666666666665vw;
    height: auto;
    position: relative;
    background-color: rgba(20, 20, 20, 0.01);
    box-shadow: rgb(15, 15, 15) -0.13020833333333331vw 0px 0.06510416666666666vw 0px inset;
}

.industries_served_list li {
    flex: 1 1 0;
}

.benefit_text {
    box-shadow: rgb(30, 30, 30) 0.13020833333333331vw 0px 0px 0px inset;
    height: min-content;
    padding: 1.3020833333333335vw 1.0416666666666665vw;
    position: relative;
}

.benifit_data_box {
    background-color: var(--global-palette4);
    border-radius: 1.0416666666666665vw;
    box-shadow: 0px 0px 0px 0.13020833333333331vw rgb(15, 15, 15), 0px 0.13020833333333331vw 0.32552083333333337vw 0.06510416666666666vw rgba(15, 15, 15, 0.5), inset 0.06510416666666666vw 0.13020833333333331vw 0.13020833333333331vw 0px rgb(38, 38, 38), inset -0.06510416666666666vw -0.13020833333333331vw 0.13020833333333331vw 0px rgb(20, 20, 20);
}

.benefits_slider_container {
    padding: 1.0416666666666665vw;
    overflow: hidden;
    box-shadow: inset 0 0.06510416666666666vw #1e1e1e;
}

.benefit_card::after {
    content: "";
    bottom: 0;
    background: linear-gradient(180deg, rgba(56, 56, 56, 0) 0%, rgb(56, 56, 56) 36.03603603603604%, rgba(56, 56, 56, 0) 100%);
    flex: 0 0 auto;
    left: 4.7vw;
    position: absolute;
    pointer-events: none;
    top: 0;
    width: 0.13020833333333331vw;
    z-index: -1;
}

.benefits_column {
    mask-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 10%, rgb(0, 0, 0) 90%, rgba(0, 0, 0, 0) 100%);
    overflow: hidden;
}

.benefit_icon {
    max-width: 2.864583333333333vw;
    max-height: 2.864583333333333vw;
    width: 2.864583333333333vw;
    height: 2.864583333333333vw;
    min-height: 2.864583333333333vw;
    min-width: 2.864583333333333vw;
    aspect-ratio: 1;
}

.my_client_box .client_logo {
    width: 7.486979166666667vw;
    height: 2.994791666666667vw;
}

.happy_client_leftbar {
    gap: 0.9114583333333334vw;
}

.my_client_list_row .stack_titlebar {
    gap: 0;
    pointer-events: none;
    position: absolute;
    padding: 0 2.604166666666667vw 0 1.3020833333333335vw;
    max-width: 19.010416666666664vw;
    height: 100%;
}

.my_client_list_row .stack_titlebar::before {
    content: "";
    position: absolute;
    left: -0.13020833333333331vw;
    top: -0.06510416666666666vw;
    background: url("https://darshboard.com/wp-content/uploads/2025/07/shape.svg") no-repeat;
    width: auto;
    height: auto;
    background-size: 100% 100%;
    max-width: 19.010416666666664vw;
    z-index: 1;
    pointer-events: none;
    right: -1px;
    bottom: -0.1953125vw;
}

.work_cards .comm_inner {
    flex-direction: row;
}

.work_cards {
    max-width: 100%;
}

.my_client_box {
    position: relative;
}

.my_client_list_row .stack_titlebar>div {
    z-index: 1;
    pointer-events: all;
    height: 6.510416666666667vw;
}

.my_client_list_row .splide--loop {
    height: 6.510416666666667vw;
    box-shadow: inset 0px -0.13020833333333331vw 0.06510416666666666vw 0px var(--global-palette5);
    display: flex;
    align-items: center;
}

.my_client_list_row .splide--loop.splide--rtl {
    box-shadow: inset 0px 0.06510416666666666vw 0.13020833333333331vw 0px var(--global-palette8);
}

.my_client_list_row {
    border-radius: 1.4322916666666665vw;
}

.clients_slider .my_client_list_row {
    max-width: 100%;
}

.work_2_cols {
    gap: 1.3020833333333335vw;
}

.services_card_main .single_box_design {
    max-width: calc(33.33% - 0.866vw);
}

.faq_main_sec .vertical-faq-slider::after,
.success_stories_section .vertical-faq-slider::after,
.verticle-slider::before {
    content: "";
    background: linear-gradient(180deg, rgba(84, 84, 84, 0) 0%, rgb(20, 20, 20) 90.54054054054053%);
    left: 0;
    right: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5.859375vw;
    z-index: 2;
    pointer-events: none;
}

.projects_cols .comm_box_design {
    max-width: 100%;
}

.projects_cols .stack_titlebar {
    width: auto;
}

.projects_cols .projects_button_wrapper {
    padding-right: 1.3020833333333335vw;
    padding-top: 1.3020833333333335vw;
}

.projects_topbar {
    box-shadow: rgb(15, 15, 15) 0px -0.13020833333333331vw 0.06510416666666666vw 0px inset;
}

.projects_list .stack_item {
    padding: 0;
    overflow: hidden;
    box-shadow: rgba(15, 15, 15, 0.49) 0px 0.06510416666666666vw 0.32552083333333337vw 0.06510416666666666vw;
}

.project_card_img_box {
    box-shadow: inset 0.06510416666666666vw 0.13020833333333331vw 0.26041666666666663vw 0.06510416666666666vw #1e1e1e;
    overflow: hidden;
    position: relative;
    padding-top: 65.35%;
}

.project_card_img_box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    position: absolute;
    left: 0;
    top: 0;
}

.projects_list .stack_content {
    gap: 0;
}

.projects_list {
    padding: 1.3020833333333335vw;
}

.projects_list .project_card_footer {
    padding: 0.9114583333333334vw 1.0416666666666665vw;
}

.projects_list .stack_icon_list_inner .stack_title {
    font-size: var(--f16);
    color: var(--global-palette7);
}

.view_all_btn:hover svg,
.projects_list .stack_content:hover svg {
    transform: rotate(45deg);
}

.projects_list .stack_content:hover * {
    stroke: var(--global-palette2);
}

.my_client_list_row h1 {
    font-size: 3.2552083333333335vw;
}

.projects_cols .stack_titlebar {
    max-width: calc(100% - 16.276041666666664vw);
}


.ltr_list,
.rtl_list {
    width: 100%;
    overflow: hidden;
    height: 5.859375vw;
    position: relative;
    align-content: center;
}

.scroll_track {
    display: flex;
    white-space: nowrap;
    will-change: transform;
}

.scroll_item {
    flex: 0 0 auto;
    margin-right: 0.6510416666666667vw;
}

.rtl_list .scroll_track {
    flex-direction: row-reverse;
}

.comm_logo_slider::after {
    content: "";
    background: linear-gradient(80deg, rgba(84, 84, 84, 0) 0%, rgb(20, 20, 20) 90.54054054054053%);
    left: auto;
    right: 0;
    position: absolute;
    bottom: 0;
    width: 8.594vw;
    height: 100%;
    z-index: 3;
    pointer-events: none;
}

#splide06 {
    height: 100%;
}

.no_desktop {
    display: none;
}

@media screen and (max-width: 767px) {
    .comm_box_design {
        padding: 10px;
        border-radius: 20px;
        gap: 10px;
        flex-wrap: wrap;
        max-width: 100%;
        box-shadow: 0 0 0 4px var(--global-palette9), 0 0 5px 10px #0d0d0db3;
    }

    .comm_inner {
        gap: 10px;
        flex: 1;
        width: 100%;
    }

    .profile_img {
        border-radius: 14px;
        box-shadow: 0 0 0 1px var(--global-palette8), 0 0 0 4px #242424;
        max-width: 110px;
        margin-top: 7px;
    }

    .profile_box {
        gap: 12px 16px;
        margin-bottom: 10px;
    }

    .profile_box .profile_info {
        display: flex;
        flex-wrap: wrap;
        gap: 6px 10px;
        width: 100%;
    }

    .profile_content {
        width: 100%;
        gap: 10px;
        max-width: calc(100% - 110px - 16px);
    }

    .services_card_grid .services_card_main {
        max-width: 100%;
    }

    .stack_icon_list {
        box-shadow: inset 0 1px #1e1e1e;
        padding: 10px;
        gap: 10px;
    }

    .services_card_main .single_box_design {
        max-width: 100%;
    }

    .comm_box_grid {
        gap: 16px;
    }

    .arrow_icon svg,
    .btn_icon svg {
        width: 20px;
        height: 20px;
        min-width: 20px;
        min-height: 20px;
    }

    .counter_title_icon svg {
        width: 18px;
        height: 18px;
    }

    .counter_item_btm {
        gap: 6px;
        padding: 12px 10px;
        box-shadow: rgb(30, 30, 30) 0px 1px 0px 0px inset;
    }

    .stack_top_para,
    .counter_title,
    .social_label,
    .comm_work_txt {
        font-size: 14px;
    }

    .counter_icon,
    .counter_number {
        font-size: 40px;
    }

    .about_data {
        border-radius: 14px;
        box-shadow: 0 0 0 2px var(--global-palette5), inset 1px 2px 2px #3339, inset 0 -2px 1px #1e1e1e, 1px 1px 6px 2px #0f0f0f80;
        gap: 10px;
        padding: 12px;
    }

    .stack_titlebar,
    .stack_top_head,
    .btn_link {
        gap: 6px;
    }


    .basic_section {
        width: 100%;
    }

    .industries_served_list li,
    .languages_list .comm_box_txt {
        flex: unset;
    }

    .comm_box_txt {
        font-size: 14px;
        padding: 8px 18px;
        border-radius: 100px;
        box-shadow: 0 0 0 2px var(--global-palette5), 0 2px 5px 1px #0f0f0f80, inset 1px 2px 4px #3339, inset 0 -2px 1px #1e1e1e;
    }

    .home_counters {
        order: -1;
        gap: 10px;
        flex-direction: row;
    }

    .counter_item {
        border-radius: 16px;
        box-shadow: 0 0 0 2px var(--global-palette5), inset 1px 2px 2px #3339, inset 0 -2px 1px #1e1e1e, 1px 1px 6px 2px #0f0f0f80;
    }

    .counter_item_top {
        padding: 10px;
        box-shadow: rgb(15, 15, 15) 0px -2px 1px 0px inset;
    }

    .stat_item {
        padding: 12px;
        gap: 10px;
        border-radius: 14px;
        box-shadow: 0 0 0 2px var(--global-palette5), inset 1px 2px 2px #3339, inset 0 -2px 1px #1e1e1e, 1px 1px 6px 2px #0f0f0f80;
    }

    .stat_item .btn_icon svg {
        width: 24px;
        height: 24px;
        min-width: 24px;
        min-height: 24px;
    }

    .social_followers {
        gap: 4px;
    }

    .languages_list,
    .stack_content,
    .social_content {
        gap: 10px;
    }

    .home_followers {
        gap: 10px;
    }

    .comm_btn {
        border-radius: 50px;
        box-shadow: 0px 0px 0px 2px #0f0f0f, inset 1px 1px 3px 0px rgb(43, 43, 43);
        padding: 10px;
    }

    .top_icon svg {
        width: 20px;
        height: 20px;
        min-width: 20px;
        min-height: 20px;
    }

    .stack_item {
        flex: 100%;
    }

    .comm_info {
        gap: 8px;
        padding: 16px;
        box-shadow: rgb(30, 30, 30) 0px 1px 0px 0px inset;
    }

    .stack_titlebar {
        padding: 16px;
        box-shadow: rgb(15, 15, 15) 0px -2px 1px 0px inset;
    }

    .award_btn_wrapper,
    .availability_range {
        gap: 4px;
    }

    .award_text {
        margin-bottom: 6px;
    }

    .languages_list {
        justify-content: center;
    }

    .awards_list_row {
        padding-top: 8px;
    }

    .award_button {
        width: 14px;
        height: 14px;
        box-shadow: inset 0 1px 3px 0 rgba(56, 56, 56, 1), 0 0 0 1px rgb(15, 15, 15);
    }

    .expriance_info_item_topbar {
        box-shadow: rgb(15, 15, 15) 0px -2px 1px 0px inset;
        gap: 5px;
        padding: 12px;
        align-items: flex-start;
    }

    .stack_label.comm_work_txt.job_profile {
        box-shadow: rgb(30, 30, 30) 0px 1px 0px 0px inset, rgb(30, 30, 30) 0px 1px 0px 0px inset;
        gap: 5px;
        padding: 12px;
    }

    .expriance_info_item .job_profile p {
        text-align: left;
    }

    .expriance_info_item {
        border-radius: 16px;
        box-shadow: rgba(15, 15, 15, 0.5) 0px 2px 6.9px 1px, rgba(51, 51, 51, 0.6) 2px 4px 2px 0px inset, rgb(30, 30, 30) 0px -2px 1px 0px inset;
    }

    .work_experience_slider .slide_item {
        flex-direction: column;
        gap: 10px;
        padding: 20px 0px 0px 40px;
    }

    .dot_container {
        border-radius: 100px;
        gap: 10px;
        padding: 6px;
    }

    .comapny_info_item {
        order: -1;
    }

    .dot-box {
        gap: 10px;
        width: min-content;
        position: absolute;
        left: 6px;
        top: 44px;
    }

    .verticle-slider::after {
        left: 21px;
        width: 2px;
    }

    .dot {
        border-radius: 100px;
        width: 10px;
    }

    .contact-form input,
    .contact-form textarea {
        border-radius: 10px;
        padding: 16px;
        box-shadow: 0px 0px 0px 2px rgb(10, 10, 10), 0px 2px 5px 1px rgba(10, 10, 10, 0.5), inset 3px 3px 4px 0px rgb(30, 30, 30), inset -2px -2px 3px 0px rgb(20, 20, 20);
    }

    .d_mail_box:hover {
        box-shadow: 0px 0px 0px 2px rgb(10, 10, 10), 0px 2px 5px 1px rgba(10, 10, 10, 0.5), inset 2px 4px 3px 0px rgb(38, 38, 38), inset -2px -3px 3px 0px rgb(28, 28, 28);
    }

    .contact-form {
        gap: 10px;
    }

    .comm-btn {
        border-radius: 10px;
        gap: 6px;
        padding: 16px;
        box-shadow: inset 0px 2px 2px 0px rgb(233, 75, 47), inset 0px -1px 2px 1px rgb(185, 44, 19), 0px 0px 0px 2px rgb(15, 15, 15);
    }

    .comm-btn:hover {
        box-shadow: inset 1px 2px 3px 0px rgba(31, 31, 31, 1), inset -1px -2px 3px 0px rgba(20, 20, 20, 1), 0px 0px 0px 2px rgb(15, 15, 15);
    }
}