.btn_link {
    gap: 0.26041666666666663vw;
}

.btn_txt {
    color: var(--global-palette7);
}

a:hover .btn_txt {
    color: var(--global-palette11);
}

.about_data {
    align-content: flex-start;
    background-color: var(--global-palette4);
    border-radius: 1.3020833333333335vw;
    box-shadow: 0 0 0 0.13020833333333331vw var(--global-palette5), inset 0.06510416666666666vw 0.13020833333333331vw 0.13020833333333331vw #3339, inset 0 -0.13020833333333331vw 0.06510416666666666vw #1e1e1e, 0.06510416666666666vw 0.06510416666666666vw 0.390625vw 0.13020833333333331vw #0f0f0f80;
    flex-wrap: nowrap;
    gap: 0.6510416666666667vw;
    overflow: hidden;
    padding: 1.5625vw;
    width: 100%;
}

.profile_img {
    border-radius: 1.3020833333333335vw;
    box-shadow: 0 0 0 0.06510416666666666vw var(--global-palette8), 0 0 0 0.26041666666666663vw #242424;
    max-width: 11.067708333333332vw;
    overflow: hidden;
    position: relative;
}

.profile_box {
    gap: 1.3020833333333335vw;
}

.profile_content {
    width: 100%;
    gap: 0.5208333333333333vw;
    max-width: calc(100% - 1.3020833333333335vw - 11.067708333333332vw);
}